@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

html {
	font-size: 10px;
	line-height: 1;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	background-color: #f6f6ec;
}

h1 {
	font-size: 4rem;
	font-weight: 900;
	margin-bottom: 1rem;
}

.container {
	max-width: 340px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
}

.bayan label {
	height: 60px;
	font-size: 2rem;
	margin: 1rem 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	position: relative;
	z-index: 99;
}

.icon {
	width: 60px;
	height: 60px;
	display: none;
}

.bayan-wrap:hover > .bayan label > .icon {
display: block;
}

.content-memes {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 0;
	overflow: hidden;
	transition: all 0.3s;
}

.bayan:hover > .content-memes {
	height: 100%;
	transition: all 1s;
}

.bayan:hover label > .icon {
	transform: rotate(45deg);
}
